.detail_container {
  position: relative;
  height: 100%;
  margin-bottom: 300px;
}

.detail_play {
  position: absolute;
  left: 20px;
  width: 110px; 
  height: 35px;
  margin-top: 20px;
  border-radius: 3px;
  background-color: #fff;
  text-align: center;
  line-height: 35px;
}

.detail_title_container {
  position: absolute;
  top: 40%;
  left: 20px;
}
.detail_h2 {
  font-size: 40px;
  text-shadow: 1px 1px 10px rgba(0,0,0,0.5);
}

.detail_h2:nth-of-type(2) {
  font-size: 24px;
}

.detail_content {
  position: absolute;
  left: 40px;
  padding-top: 20px;
  padding-right: 40px;
}

.detail_dt {display: flex;}

.genres_container {
  display: flex; gap: 10px;
  margin-top: 5px;
  color: #fff;
}

.detail_genre {
  color: #111;
  padding: 0px 5px; background: #fff;
  border-radius: 2px;
}

.detail_close {position: absolute; top: 80px; left: 40px; font-size: 24px;}

@media screen and (max-width: 600px) {
  .detail_h2 {
    font-size: 30px;
  }
}